* {
	color: #333;
	font-family: 'Century Gothic','Avenir','Helvetica neue','ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック',PingFangSC-Regular,sans-serif;
	letter-spacing: 0.1em;
	/*border: 1px solid #000;*/
}

html, body {
	margin: 0;
	padding: 0;
	min-width: 1024px;
}

a {
	color: inherit;
	text-decoration: none;
	font-size: inherit;
	-webkit-transition-duration: 0.3s;
	-o-transition-duration: 0.3s;
	transition-duration: 0.3s;
}

a:hover {
	opacity: 0.8;
}

span,small {
	color: inherit;
	font-size: inherit;
}

body {
	animation: show 1s;
	animation-fill-mode: forwards;
	opacity: 0;
}

.wrapper-size {
	max-width: 1100px;
	margin: 0 auto;
	padding: 0 20px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/*top page*/

.logo-area {
	display: inline-block;
	vertical-align: bottom;
	width: 24%;
}

.logo-area a {
	display: inline-block;
}

#menu {
	display: inline-block;
	vertical-align: bottom;
	width: 70%;
	text-align: right;
	height: 93px;
}

#menu ul {
	padding: 0;
	margin: 0;
	font-size: 0;
}

#menu li {
	display: inline-block;
	padding: 45px 10px 25px 10px;
    vertical-align: top;
    font-weight: bold;
    font-size: 15px;
}

#menu li:not(.orange-list) a:hover,
#menu li:not(.orange-list) a.active
#menu li span:hover {
	color: #FF9800;
}

#menu li.orange-list {
	background: #F08E3C;
	color: #fff;
	font-weight: normal;
}

#header {
	box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.1);
}

#menu .dropdown-wrapper {
	padding: 0;
	height: 93px;
}

#menu .dropdown-wrapper > span {
	padding: 45px 10px 30px 10px;
	display: inline-block;
	cursor: pointer;
}

#menu .dropdown-list {
	-webkit-transition-duration: 0.3s;
	-o-transition-duration: 0.3s;
	transition-duration: 0.3s;
	opacity: 0;
	pointer-events: none;
}

#menu .dropdown-wrapper:hover .dropdown-list {
	opacity: 1;
	pointer-events: auto;
}

#menu .dropdown-list li {
	text-align: center;
	display: block;
	padding: 0;
	border-bottom: 1px solid #fff;
}

#menu .dropdown-list li a {
	background: #FF9800;
	color: #fff;
	width: 100%;
	display: inline-block;
	font-weight: normal;
	padding: 10px 0;
}

#menu .dropdown-list li a:hover {
	color: #fff;
}

.visual-top .wrapper-size {
	margin-top: 20px;
}

#videoWrapper.stop {
	background: url(inc/img/top/top_stop.png);
	-webkit-background-size: cover;
	background-size: cover;
	width: 950px;
	height: 540px;
}

#videoWrapper.stop video {
	display: none;
}

.catch-area {
	margin: 40px 0;
}

.catch-left {
	width: 30%;
	display: inline-block;
	vertical-align: middle;
}

.catch-left h2 {
	color: #4d4d4d;
}

.catch-right {
	width: 65%;
	display: inline-block;
	vertical-align: middle;
}

.catch-right strong {
	border-bottom: 3px solid #F08E3C;
	font-weight: normal;
}

.big-catch {
	font-weight: bold;
    font-size: 18px;
}

.service-title {
	margin-top: 60px;
}

.service-title:before {
	content: url(inc/img/top/title_deco.svg);
	display: inline-block;
	margin-right: 8px;
}

.service-title h2 {
	display: inline-block;
	color: #4d4d4d;
	font-size: 30px;
}

.service-title .subtitle {
	color: #F08E3C;
	display: inline-block;
}

.slider-area {
	position: relative;
	margin-bottom: 160px;
}

.slider-text {
	position: absolute;
    border: 3px solid #F08E3C;
    background: #fff;
    bottom: -40px;
    right: 0;
    padding: 20px 40px;
    width: 360px;
    box-shadow: 4px 4px 6px 0px rgba(255, 152, 0, 0.3);
}

.slider-text h4 {
	color: #F08E3C;
    font-size: 26px;
    margin: 0;
    height: 39px;
    transition-duration: 0.3s;
}

.slider-text span {
	color: #F08E3C;
	transition-duration: 0.3s;
	display: block;
}

.slider-area img {
	transition-duration: 0.3s;
}

.slider-footer {
	margin: 20px 0;
}

.slider-control {
	display: inline-block;
	width: 210px;
    text-align: center;
}

.slider-control .fa {
	margin: 0 10px;
	color: #F08E3C;
	vertical-align: middle;
	cursor: pointer;
	transition-duration: 0.3s;
}

.slider-control .fa:hover {
	opacity: 0.8;
}

.slider-footer .slider-button {
	background: #fff;
    border: 2px solid #F08E3C;
    color: #F08E3C;
    font-weight: bold;
    padding: 10px 0;
    width: 130px;
    display: inline-block;
    text-align: center;
}

.hide1 {
	opacity: 0;
	transform: translateX(-5%);
}

.hide1.hide2 {
	transform: translateX(5%);
}

.dots-area {
	text-align: center;
    width: 80%;
    display: inline-block;
    margin-top: 15px;
}

.dots-area i {
	margin: 0 3px;
	color: #9E9E9E;
	cursor: pointer;
	transition-duration: 0.3s;
}

.dots-area i.active {
	color: #F08E3C;
}

.service-area .service-item {
	width: 30%;
	display: inline-block;
	vertical-align: top;
	text-align: center;
}

.service-item h4 {
	margin-bottom: 0;
	font-size: 18px;
}

.service-item p {
	margin-top: 0;
	color: #4d4d4d;
}

.service-item img {
	border-radius: 50%;
}

.service-item .button {
	margin-top: 20px;
}

.service-item a {
	display: inline-block;
	font-weight: bold;
	color: #fff;
	padding: 3px 20px;
}

.service-item a.red-button {
	background: #F07457;
}

.service-item a.black-button {
	background: #000;
}

.service-item a.yellow-button {
	background: #E8AA56;
}

.sns-area p {
	display: inline-block;
	width: 70%;
	vertical-align: middle;
}

.sns-area .sns-icons {
	width: 25%;
	display: inline-block;
	vertical-align: middle;
}

.sns-area .fa-facebook-square {
	color: #3C589D;
}

.sns-area .fa-instagram {
	color: #fff;
	font-size: 2.4em;
}

.sns-area .instagram-wrapper {
	border-radius: 10px;
	padding: 2px 0px 2px 5px;
	background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
}

.sns-icons a {
	display: inline-block;
	vertical-align: middle;
}

#footer {
	margin-top: 100px;
}

.sitemap-area a {
	display: inline-block;
}

.sitemap-area .logo {
	display: inline-block;
	width: 40%;
	vertical-align: top;
}

.sitemap-area .links {
	display: inline-block;
	width: 55%;
	vertical-align: top;
	padding-top: 5px;
	font-weight: bold;
	font-size: 14px;
}

.sitemap-area .links a {
	margin: 0 10px;
}

.address-area {
	font-size: 14px;
	color: #4d4d4d;
	margin-top: 20px;
}

.copyright-area {
	background: #000;
	color: #fff;
	text-align: center;
	font-size: 14px;
	padding: 10px;
    margin-top: 20px;
}

.mar_top0 {
	margin-top: 0;
}

@-webkit-keyframes show {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}
@keyframes show {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@media print {
	
	body {
		opacity: 1;
	}

	#visual.top-image {
		height: 400px;
	}
}