* {
	color: #333;
	font-family: 'Century Gothic','Avenir','Helvetica neue','ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック',PingFangSC-Regular,sans-serif;
	letter-spacing: 0.1em;
}

html, body {
	margin: 0;
	padding: 0;
	min-width: 1024px;
}

a {
	color: inherit;
	text-decoration: none;
	font-size: inherit;
	-webkit-transition-duration: 0.3s;
	-o-transition-duration: 0.3s;
	transition-duration: 0.3s;
}

a:hover {
	opacity: 0.8;
}

span,small {
	color: inherit;
	font-size: inherit;
}

body {
	animation: show 1s;
	animation-fill-mode: forwards;
	opacity: 0;
}

.wrapper-size {
	max-width: 1100px;
	margin: 0 auto;
	padding: 0 20px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/*top page*/

.logo-area {
	display: inline-block;
	vertical-align: bottom;
	width: 24%;
}

.logo-area a {
	display: inline-block;
}

#menu {
	display: inline-block;
	vertical-align: bottom;
	width: 70%;
	text-align: right;
	height: 93px;
}

#menu ul {
	padding: 0;
	margin: 0;
}

#menu li {
	display: inline-block;
	padding: 45px 10px 25px 10px;
    vertical-align: top;
    font-weight: bold;
    font-size: 15px;
    transition-duration: 0.3s;
}

#menu li:hover,
#menu li.active {
	background: #FF9800;
}

#menu li:hover > a,
#menu li:hover > span,
#menu li.active > a,
#menu li.active > span {
	color: #fff;
}

#header {
	box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.1);
}

#menu .dropdown-wrapper {
	padding: 0;
	height: 93px;
}

#menu .dropdown-wrapper > span {
	padding: 45px 10px 30px 10px;
	display: inline-block;
	cursor: pointer;
	transition-duration: 0.3s;
}

#menu .dropdown-list {
	-webkit-transition-duration: 0.3s;
	-o-transition-duration: 0.3s;
	transition-duration: 0.3s;
	opacity: 0;
	pointer-events: none;
}

#menu .dropdown-wrapper:hover .dropdown-list {
	opacity: 1;
	pointer-events: auto;
}

#menu .dropdown-list li {
	text-align: center;
	display: block;
	padding: 0;
	border-bottom: 1px solid #fff;
}

#menu .dropdown-list li a {
	background: #FF9800;
	color: #fff;
	width: 100%;
	display: inline-block;
	font-weight: normal;
	padding: 10px 0;
}

#menu .dropdown-list li a:hover {
	color: #fff;
}

#videoWrapper .stop-image {
	display: none;
}

#videoWrapper.stop {
	position: relative;
}

#videoWrapper.stop .stop-image {
	position: absolute;
    top: 0;
    z-index: -1;
    display: block;
    width: 100%;
    height: 100%;
    background: url(inc/img/top/top_stop.png);
    -webkit-background-size: cover;
    background-size: cover;
}

video {
	width: 100vw;
}

#videoWrapper.stop video {
	visibility: hidden;
}

.catch-area {
	margin: 40px 0;
	text-align: center;
}

.catch-left {
	display: inline-block;
	vertical-align: middle;
	text-align: left;
	margin-right: 40px;
}

.catch-left h2 {
	color: #4d4d4d;
}

.catch-right {
	display: inline-block;
	vertical-align: middle;
	text-align: left;
}

.catch-right strong {
	border-bottom: 3px solid #F08E3C;
	font-weight: normal;
}

.big-catch {
	font-weight: bold;
    font-size: 18px;
}

.service-title {
	margin-top: 60px;
}

.service-title:before {
	content: url(inc/img/top/title_deco.svg);
	display: inline-block;
	margin-right: 8px;
}

.service-title h2 {
	display: inline-block;
	color: #4d4d4d;
	font-size: 30px;
}

.service-title .subtitle {
	color: #F08E3C;
	display: inline-block;
}

.slider-area {
	position: relative;
	margin-bottom: 160px;
	text-align: center;
}

.slider-area a {
	display: inline-block;
}

.slider-next {
	position: absolute;
	top: 45%;
	right: 30px;
	color: #F08E3C;
	cursor: pointer;
	transition-duration: 0.3s;
}

.slider-prev {
	position: absolute;
	top: 45%;
	left: 30px;
	color: #F08E3C;
	cursor: pointer;
	transition-duration: 0.3s;
}

.slider-next:hover, .slider-prev:hover {
	opacity: 0.8;
}

.slider-area img {
	transition-duration: 0.3s;
}

.hide1 {
	opacity: 0;
	transform: translateX(-5%);
}

.hide1.hide2 {
	transform: translateX(5%);
}

.dots-area {
	text-align: center;
    width: 80%;
    display: inline-block;
    margin-top: 15px;
}

.dots-area i {
	margin: 0 3px;
	color: #9E9E9E;
	cursor: pointer;
	transition-duration: 0.3s;
}

.dots-area i.active {
	color: #F08E3C;
}

.service-area {
	text-align: center;
}

.service-area .service-item {
	width: 30%;
	display: inline-block;
	vertical-align: top;
	text-align: center;
}

.service-item h4 {
	margin-bottom: 0;
	font-size: 18px;
}

.service-item p {
	margin-top: 0;
	color: #4d4d4d;
}

.service-item img {
	border-radius: 50%;
	border: 1px solid #d4d4d4;
}

.service-item .button {
	margin-top: 20px;
}

.red-button {
	background: #F07457;
	display: inline-block;
	font-weight: bold;
	color: #fff;
	padding: 3px 20px;
}

.sns-area p {
	display: inline-block;
	width: 70%;
	vertical-align: middle;
}

.sns-area .sns-icons {
	width: 25%;
	display: inline-block;
	vertical-align: middle;
}

.sns-area .fa-facebook-square {
	color: #3C589D;
}

.sns-area .fa-instagram {
	color: #fff;
	font-size: 2.4em;
}

.sns-area .instagram-wrapper {
	border-radius: 10px;
	padding: 2px 0px 2px 5px;
	background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
}

.sns-icons a {
	display: inline-block;
	vertical-align: middle;
}

#footer {
	margin-top: 140px;
}

.sitemap-area {
	border-top: 2px solid #F08E3C;
    padding-top: 40px;
}

.sitemap-area a {
	display: inline-block;
}

.sitemap-area .logo {
	display: inline-block;
	width: 40%;
	vertical-align: top;
}

.sitemap-area .links {
	display: inline-block;
	width: 55%;
	vertical-align: top;
	padding-top: 5px;
	font-weight: bold;
	font-size: 14px;
}

.sitemap-area .links a {
	margin: 0 10px;
}

.address-area {
	font-size: 14px;
	color: #4d4d4d;
	margin-top: 20px;
}

.copyright-area {
	background: #000;
	color: #fff;
	text-align: center;
	font-size: 12px;
	padding: 10px;
    margin-top: 20px;
}

.mar_top0 {
	margin-top: 0;
}

.mar_top20 {
	margin-top: 20px;
}

.white-wrapper {
	position: relative;
}

.white-title {
	position: absolute;
    top: 0;
    background: rgba(255, 255, 255, 0.8);
    height: 100%;
    left: 10%;
    width: 200px;
    text-align: center;
    padding: 80px 0;
    box-sizing: border-box;
}

.white-title .en-title {
	font-size: 30px;
    font-weight: bold;
}

.white-title h1 {
	margin: 0;
    font-size: 18px;
    font-weight: normal;
}

.contact-path {
    padding: 0;
    font-size: 0;
    margin-top: 20px;
}

.contact-path li {
    list-style: none;
    display: inline-block;
    font-size: 0;
    vertical-align: top;
}

.contact-path li a {
	font-size: 12px;
}

.contact-path li:after {
    content: '\f105';
    font-family: FontAwesome;
    margin: 0px 8px;
    color: #ababab;
    font-size: 12px;
}

.contact-path li:last-child:after {
    content: '';
}

.right-text {
	text-align: right;
}

@-webkit-keyframes show {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@keyframes show {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@media print {
	
	body {
		opacity: 1;
	}

	#visual.top-image {
		height: 400px;
	}
}